extends base.pug

block content
    .wrapper
        .listWrap
            
        .listAddWrap
            .addLabel + Add list 
            form.addList
                input.addListTitle(type="text", placeholder="list", autocomplete="off")
                button.btn Add List
                span.close.addListClose &times