extends base.pug

block content
    .wrapper
        .listWrap
            .list
                .listTitleWrap
                    .title list1 
                    from.titleEdit
                        input.listTitle(type="text", placeholder="list", autocomplete="off")
                .cardWrap
                    .cardContent card1 
                    .cardContent card2 
                    .cardContent card3 
                .cardAddWrap 
                    .addLabel + Add card 
                    form.addCard
                        input.addCardContent(type="text", placeholder="card", autocomplete="off")
                        button.btn.addCardBtn Add Card
                        span.close.addCardClose x
        .listAddWrap
            .addLabel + Add list 
            form.addList
                input.addListTitle(type="text", placeholder="list", autocomplete="off")
                button.btn Add List
                span.close.addListClose &times